<%- include('partials/header') %>
<div class="container mt-5">
  <h1> Attendance Detail of <%=rn%></h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
              <table>
                <div class="form-group">
                  <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Lecture No.</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Date </td>
                  <!--  <td>&nbsp;&nbsp;&nbsp;&nbsp;Roll Number </td> -->
                  </tr>
                  <% var count =0;%>
                <% for(var i=0;i<name.length;i++){ %>
                  <% for(var j=0;j<name[i].rno.length;j++){ %>
                    <% if(rn == name[i].rno[j] ){ %>
                  <div class="form-group">
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%=name[i].lno%></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;<%=name[i].date%></td>
                  <%count= count+1;%>
                </tr>
              </div>
              <%}%>
              <% } %>
            <% } %>
              </table>
              <h4>Total Attendance = <%=name.length%></h4>
              <h4>Your Attendance = <%=count%></h4>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
